.wiki-page{

    font-family: Helvetica;
    background-color: #ebebeb;
    background-attachment: fixed;
    background-image: url(images/Old-bgImg.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: -8px;
    margin-right: -8px;

}

.wiki-page-content-wrapper{

    margin-left: 20px;
    margin-right: 20px;
    margin-top: -8px;
    
}

.page-header{

    background-color: rgba(36, 36, 99, 0.555);
    height:100px;
    color: #ebebeb;
    position: relative;
    

}

.wiki-link-image-woodmark{


    position: relative;
    top: 16px;
    left: 20px;

}


.wiki-link-indicator{

    font-size: 23px;
    font-weight: bold;
    position: relative;
    left: 20px;

}

.page-header{

    margin-left: 15px;
    margin-right: 15px;

}

.page-header a{

    
    text-decoration: none;
    color: #ebebeb;

}

.page-header li{

    display: inline;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    left: 20px;
    padding-right: 9px;

}
.arrow-drop-down-tabs{

    position: relative;
    top: 5px;

}

.page-header ul{
 
    position:absolute;
    left: 215px;
    top: 55px;

}

.wiki-content-tabs a:hover{

    color: rgb(165, 155, 155);

}

.add-page-link-button{

    font-size: 13px;
    font-weight: bold;
    
}

.add-page-link-button-container{

    border: 1px solid white;
    position: absolute;
    right: 40px;
    top: 29px;
    padding: 5px 13px 8px 13px;
    border-radius: 3px;

}

.add-page-svg{

    position: relative;    
    top:2px;

}

.page-main-content-wrapper{

    background-color: #ebebeb;
    margin: 0px 15px 0px 15px;
    padding-left: 40px;
    padding-right: 40px;
    height: 100%;

}

.tools-main-content-wrapper{

    background-color: #ebebeb;
    margin: 0px 15px 0px 15px;
    padding-left: 40px;
    padding-right: 40px;
    height: 880px;

}

.top-text{

    font-size: 35px;
    font-weight: 5px;
    margin-left: -20px;
    margin-top: 0px;
    
}

.page-main-articles{

    position: relative;
    left: 22%;
    border: 1px solid #cbc5f4;
    bottom: 20px;
    padding-top: 12px;
    

}

.article-link{

    text-decoration: none;

}

.class_box_article{

    display: flex;
    background-color: #479f9b;
    color: whitesmoke;
    font-size: 13px;
    position: relative;
    max-width: 90px;
    height: 15px;
    justify-content: center;
    font-family: "times new roman";
    bottom: 12PX;
    vertical-align: middle;
    
}

.class_box_article:hover{

    color: #ebebeb;
    background-color: #1e2456;
}

.article-box{

    padding: 0px 20px;

}

.tvcm-video{

    display: inline-flexbox;
    position: absolute;
    border: solid #cbc5f4 1px;
    top: 306px;
    right: 420px;
    padding: 0px 10px 10px 9px;
    

}

.tvcm-p1{
    
    background-image: url(images/Divider.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 290px 20px;
    width: 290px;
    height: 20px;
    font-size: 15px;
    font-weight: bolder;
    text-align:center;
    

}

.promo-video{

    position: relative;
    left: 4px;
    border: solid gray 2px;
    border-top: solid black 8px;
    border-bottom: solid black 8px;
    border-radius: 10px;
}



.tvcm-p2{

    display: block;
    background-image: url(images/Divider.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 290px 20px;
    width: 290px;
    height: 20px;
    font-size: 15px;
    font-weight: bolder;
    text-align:center;
    text-decoration: none;
    color: #1e2456;
}

.tvcm-p2:hover{

    color: #3f4681;

}

.servant-info{

    width: 1000px;
    line-height: 25px;
    padding-left: 50px;
    width: 1355px;
    

}

.first-p-servants{

    display: flex;
    color:rgb(69, 69, 77);
    position: relative;
    top: 20px;
    width: 1290px;

}

.image-servant-first-p{

    position: relative;
    top: 30px;

}


.servant-info-first-p{

    display: flex;
    font-size: larger;
    text-align:justify;

}

.rest-of-ps{

    width: 1290px;
    text-align:justify;
    font-size: larger;
    color:rgb(69, 69, 77);

}

.servant-triangle-text{

    font-size: 25px;
    font-weight: 5px;

}

.gameplay-info-wrapper{

    line-height: 25px;

}

.first-p-gameplay{

    display: flex;
    color:rgb(69, 69, 77);
    position: relative;
    top: 10px;
    width: 1290px;

}

.image-gameplay-first-p{

    position: relative;
    top: 10px;

}

.command-card-info{

    display: flex;

}

.command-card-p1{

    width: 1180px;

}

.cc-head{

    font-size: 15px;
    font-style: bold;
    text-align: center;
    position: relative;
    left: 12px;
    width: 97px;
    margin-bottom: -7px;
    color: #ebebeb;
    background-color: rgb(36, 36, 99);

}

.command-card-p2{

    width: 1180px;

}

.info-block{

    text-align:justify;
    font-size: 20px;
    color:rgb(69, 69, 77);

}

.wiki-p-centered{

    text-align: center;

}

.about-wiki-p-head{

    background-image: url(images/SERAPHDivider.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 800px 50px;
    font-size: 50px;

}

.discord-banner{

    position: relative;
    left: 36%;

}

.wrapper{

    border: 1px black solid;
    padding: 5px 5px 5px 5px;

}

.other-links-div a{

    text-decoration: none;
    text-align:justify;
    font-size: 20px;
    color:rgb(59, 59, 129);

}

.events-top-p{

    background-color: rgb(36, 36, 99);
    color: #ebebeb;
    text-align: center;
    font-size: 30px;
    padding: 15px 0px 15px 0px;

}

.event-table-wrapper{

    position: relative;
    left: 500px;

}

.event-table{

    display: flex;

}

.event-table-p{

    background-color: rgb(36, 36, 99);
    color: #ebebeb;
    text-align: center;
    font-size: 20px;
    margin-bottom: -5px;
    max-width: 435px;

}

.media-anime-table{

    border: 1px solid black;
    border-spacing: 0px;
    background-color: rgb(221, 217, 217);

}

.anime-thead{

    width: 206px;
    display: inline-block;
    text-align:center;
    font-size: 20px;
    background-color: rgb(36, 36, 99);
    color: #ebebeb;
    

}

.anime-td{

    padding-left: 3px;
    max-width: 200px;
    text-align:center;
    border: 1px solid black;
    
}

.media-manga-table{

    border: 1px solid black;
    border-spacing: 0px;
    background-color: rgb(221, 217, 217);

}

.manga-thead{

    
    display: inline-block;
    text-align: center;
    font-size: 17px;
    background-color: rgb(36, 36, 99);
    color: #ebebeb;
    padding-top: 5px;
    padding-bottom: 3px;

}
.manga-thead-tittle{

    width: 210px;

}
.manga-thead-author{

    width: 155px;

}
.manga-thead-ps{
    width: 155px;
}

.manga-td{

    padding-left: 3px;
    min-width: 150px;
    max-width: 200px;
    text-align:center;
    border: 1px solid black;

}

.index-disclaimer{

    text-align: center;
    font-size: 25px;
    background-color: rgb(36, 36, 99);
    color: #ebebeb;
    padding-top: 10px;
    padding-bottom: 10px;
    border: black 3px solid;
    border-radius: 10px;

}

.donwload-promo{

    display: inline-flex;
    background-color: rgb(36, 36, 99);
    padding: 10px 10px 10px 10px;
    position: relative;
    left: 513px;

}

.platforms-banenr{

    display: grid;

}

.imp-p-li{

    max-width: 700px;
    
}

.important-paragraph{

    display: inline-block;
    font-size: 15px;
    background-color: rgb(36, 36, 99);
    color: #ebebeb;
    padding: 10px 10px 10px 10px;
    border: black 3px solid;
    border-radius: 10px;
    position: relative;
    left: 325px;

}